Equipable(MainHandWeapon((
    info: (
        name: "Test_Sword",
        voxel_path: "melee_weapons/test_sword.vox",
        template_entity_info: "melee_weapons/test_sword.ron"
    ),
    atk_speed: 1.0,
    atk_dmg: 1.0,
)))